
<header class="head text-light py-3">
  <div class="container d-flex align-items-center ">
    <img src="logo/TecnoLab.png" alt="Tecnolab Logo" class="logo">
    <h1 class="h1 m-0">Tecnolab</h1>
    
  </div>

</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/comercial">Volver</a>
    <a class="navbar-brand" routerLink="/login">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto"> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Logout</a>
        </li>
      </ul>
    
    </div>
  </div>
</nav>


<div class="container">
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-2">ID</th>
        <th class="col-sm-3">Nombre</th>
        <th class="col-sm-3">Descripción</th>
        <th class="col-sm-2">Precio</th>
        <th class="col-sm-2">Editar</th>
        <th class="col-sm-2">Borrar</th>
      </tr>
    </thead>
    <tbody>
        @for(producto of productos; track producto.id_producto){
            <tr>
              <td class="col-sm-2">{{ producto.id_producto }}</td>
              <td class="col-sm-2">{{ producto.nombre_producto }}</td>
              <td class="col-sm-2">{{ producto.descripcion }}</td>
              <td class="col-sm-2">{{ producto.precio_unitario }}</td>
              <td class="col-sm-2">
                <fieldset class="form-group">
          <a
            class="btn btn-primary"
            routerLink="/productos/editar/{{producto.id_producto}}"
          >Editar</a>
          </fieldset>
        </td>
        <td class="col-sm-2">
          <button
            class="btn btn-danger"
            (click)="borrarProducto(producto.id_producto)"
          >Borrar</button>
        </td>
      </tr>
    }
    </tbody>
  </table>
  <footer class="bg-dark text-light py-4">
    <div class="container text-center">
      <p>&copy; 2024 TecnoLab. Todos los derechos reservados.</p>
      <p><a routerLink="/privacidad" class="text-light">Política de Privacidad</a> | <a routerLink="/terminos" class="text-light">Términos y Condiciones</a></p>
    </div>
  </footer>
  