

<header class="head text-light py-3">
  <div class="container d-flex align-items-center ">
    <img src="logo/TecnoLab.png" alt="Tecnolab Logo" class="logo">
    <h1 class="h1 m-0">Tecnolab</h1>
    
  </div>

</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">Volver</a>
    <a class="navbar-brand" routerLink="/login">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto"> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Logout</a>
        </li>
      </ul>
    
    </div>
  </div>
</nav>

<div class="container"> 


    <h2>Lista de Roles</h2>
  
    <table class="table">
      <thead>
        <tr>
          <th>ID Rol</th>
          <th>ID Usuario</th>
          <th>Tipo</th>
          <th>Eliminar</th>
          <th>Cambiar</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    
        @for(rol of roles; track rol.id_rol){
            <tr>
          <td>{{ rol.id_rol }}</td>
          <td>{{ rol.nombre_usuario }}</td>
          <td>
            {{
              rol.tipo === 0 ? 'Cliente' :
              rol.tipo === 1 ? 'Admin' :
              rol.tipo === 2 ? 'Comercial' :
              'Desconocido'
            }}
          </td>
          <td>
            <button class="btn btn-danger" (click)="borrarRol(rol.id_rol)">
              Eliminar
            </button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="cambiarRol(rol.id_rol)">
              Cambiar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <footer class="bg-dark text-light py-4">
      <div class="container text-center">
        <p>&copy; 2024 TecnoLab. Todos los derechos reservados.</p>
        <p><a routerLink="/privacidad" class="text-light">Política de Privacidad</a> | <a routerLink="/terminos" class="text-light">Términos y Condiciones</a></p>
      </div>
    </footer>
    