<header class="head text-light py-3">
  <div class="container d-flex align-items-center">
    <img src="logo/TecnoLab.png" alt="Tecnolab Logo" class="logo" />
    <h1 class="h1 m-0">Tecnolab</h1>
  </div>
</header>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/cliente">Volver</a>
    <a class="navbar-brand" routerLink="/login">Inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="carritoVacio; else productos">
  <h2 class="text-center mb-4">Tu Carrito de Compras</h2>
  <p class="text-center text-muted">Tu carrito está vacío</p>
</div>

<ng-template #productos>
  <h2 class="text-center mb-4">Tu Carrito de Compras</h2>
  <div *ngFor="let producto of productosCarrito; trackBy: trackByFn" class="row">
    <div class="card shadow-sm border-light">
      <div class="card-body p-4">
        <div class="d-flex justify-content-between mb-3">
          <span class="text-muted">Producto:</span>
          <span class="font-weight-bold">{{ producto.nombre_producto }}</span>
       
       
        </div>
        <div class="d-flex justify-content-between mb-3">
          <span class="text-muted">Cantidad:</span>
          <div class="d-flex align-items-center">
            <button class="btn btn-outline-secondary btn-sm" (click)="cambiarCantidad(producto, false)">-</button>
            <span class="mx-2">{{ producto.cantidad }}</span>
            <button class="btn btn-outline-secondary btn-sm" (click)="cambiarCantidad(producto, true)">+</button>
          </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <span class="text-muted">Precio Unitario:</span>
          <span>{{ producto.precio_unitario }}€</span>
          
        </div>
        
        <hr class="my-4" />
        <div class="d-flex justify-content-between mb-3">
          <span class="font-weight-bold text-uppercase">Total:</span>
          <span class="font-weight-bold">{{ (producto.cantidad * producto.precio_unitario).toFixed(2) }}€</span>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <button class="btn btn-danger" (click)="borrarProducto(producto.id_productos_carrito)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <p>Total carrito: {{ totalCarrito.toFixed(2) }}€</p>
    <button class="btn btn-success" (click)="comprar()">Comprar</button>
    <button class="btn btn-info" (click)="generarPDF()">Generar Factura</button>
  </div>
</ng-template>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">No puedes agregar más unidades. Stock máximo alcanzado.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark text-light py-4">
  <div class="container text-center">
    <p>&copy; 2024 TecnoLab. Todos los derechos reservados.</p>
    <p>
      <a routerLink="/privacidad" class="text-light">Política de Privacidad</a>
      | <a routerLink="/privacidad" class="text-light">Términos y Condiciones</a>
    </p>
  </div>
</footer>
