<div class="container">
  <a class="btn btn-primary" routerLink="/usuarios/agregar">Agregar</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-2">ID</th>
      <th class="col-sm-2">Nombre</th>
      <th class="col-sm-2">Apellidos</th>
      <th class="col-sm-2">Email</th>
      <th class="col-sm-2">Editar</th>
      <th class="col-sm-2">Borrar</th>
    </tr>
  </thead>
  <tbody>
    @for(usuario of usuarios; track usuario.id_usuario){
    <tr>
      <td class="col-sm-2">{{ usuario.id_usuario }}</td>
      <td class="col-sm-2">{{ usuario.nombre }}</td>
      <td class="col-sm-2">{{ usuario.apellidos }}</td>
      <td class="col-sm-2">{{ usuario.email }}</td>
      <td class="col-sm-2">
        <fieldset class="form-group">
          <a
            class="btn btn-primary"
            routerLink="/usuarios/editar/{{usuario.id_usuario}}"
            >Editar</a
          >
        </fieldset>
      </td>
      <fieldset class="form-group">
        <a
          class="btn btn-danger"
          (click)="borrarUsuario(usuario.id_usuario)"
          >Borrar</a
        >
      </fieldset>
   
    </tr>
    }
  </tbody>
</table>
