
<header class="head text-light py-3">
  <div class="container d-flex align-items-center ">
    <img src="logo/TecnoLab.png" alt="Tecnolab Logo" class="logo">
    <h1 class="h1 m-0">Tecnolab</h1>
    
  </div>

</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/login">Login</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cliente">Volver</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro">Registro</a>
        </li>
     
      </ul>
    
      <a class="nav-link d-flex align-items-center" routerLink="/carrito">
        Carrito
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart ms-2" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
      </a>
    </div>
  </div>
</nav>
<div *ngIf="producto; else noProducto" class="container mt-5">
  <div class="row">
   
    <div class="col-md-6">
      <div class="card shadow-sm">
        <img 
          [src]="'imagenes/' + producto.imagen" 
          [srcset]="'imagenes/' + producto.imagen"
          sizes="(max-width: 200px)"
          class="card-img-top img-fluid" 
          alt="{{ producto.nombre_producto }}">
      </div>
    </div>

   
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="text-primary">{{ producto.nombre_producto }}</h1>
      <p class="lead">{{ producto.descripcion }}</p>
      <p class="text-muted h4">Precio: <span class="text-success">{{ producto.precio_unitario | currency:'EUR' }}</span></p>

   
      <button class="btn btn-lg btn-outline-primary mt-4">
        <i class="bi bi-cart2"></i>Añadir al carrito
      </button>
    </div>
  </div>
</div>


<ng-template #noProducto>
  <div class="container text-center mt-5">
    <p class="text-danger h4">Producto no encontrado.</p>
    <a routerLink="/productos" class="btn btn-secondary mt-3">Volver a productos</a>
  </div>
</ng-template>
  
<footer class="bg-dark text-light py-4">
  <div class="container text-center">
    <p>&copy; 2024 TecnoLab. Todos los derechos reservados.</p>
    <p><a routerLink="/privacidad" class="text-light">Política de Privacidad</a> | <a routerLink="/terminos" class="text-light">Términos y Condiciones</a></p>
  </div>
</footer>

