<div *ngIf="producto; else noProducto" class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <img 
          [src]="'imagenes/' + producto.imagen" 
          [srcset]="'imagenes/' + producto.imagen"
          sizes="(max-width: 200px)"
          class="card-img-top img-fluid" 
          alt="{{ producto.nombre_producto }}">
      </div>
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="text-primary">{{ producto.nombre_producto }}</h1>
      <p class="lead">{{ producto.descripcion }}</p>
      <p class="text-muted h4">Precio: <span class="text-success">{{ producto.precio_unitario | currency:'EUR' }}</span></p>

      <!-- Agregar el evento click para el botón -->
      <button class="btn btn-lg btn-outline-primary mt-4" (click)="agregarAlCarrito()">
        <i class="bi bi-cart2"></i>Añadir al carrito
      </button>
    </div>
  </div>
</div>

<ng-template #noProducto>
  <div class="container text-center mt-5">
    <p class="text-danger h4">Producto no encontrado.</p>
    <a routerLink="/productos" class="btn btn-secondary mt-3">Volver a productos</a>
  </div>
</ng-template>
