<div class="container-fluid d-flex flex-column min-vh-100" style="background-color: #ffffff; padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" style="color: #343a40;">Bienvenid&#64; {{userInfo.nombre}}</h1>
            <hr style="border-top: 2px solid #ffffff;">
        </div>
    </div>

    <div class="row flex-grow-1">
        <div class="col-md-12 d-flex align-items-start justify-content-center">
            <div class="list-group w-100" style="height: 100vh; overflow-y: auto;">
                <a routerLink="/usuarios" class="list-group-item list-group-item-action text-center gestion-link" style="background-color: #035e9f; color: #ffffff; font-weight: bold; height: 80px; font-size: large;">
                    Gestión de Usuarios
                </a>
                <a routerLink="/productos" class="list-group-item list-group-item-action text-center gestion-link" style="background-color: #035e9f; color: #ffffff; font-weight: bold; height: 80px; font-size: large;">
                    Gestión de Productos
                </a>
                <a routerLink="/carritos" class="list-group-item list-group-item-action text-center gestion-link" style="background-color: #035e9f; color: #ffffff; font-weight: bold; height: 80px; font-size: large;">
                    Gestión de Carritos
                </a>
                <a routerLink="/rol" class="list-group-item list-group-item-action text-center gestion-link" style="background-color: #035e9f; color: #ffffff; font-weight: bold; height: 80px; font-size: large;">
                    Gestión Roles
                </a>
                <a routerLink="/ventas" class="list-group-item list-group-item-action text-center gestion-link" style="background-color: #035e9f; color: #ffffff; font-weight: bold; height: 80px; font-size: large;">
                    Gestión Ventas
                </a>
                <a routerLink="/detalleVenta" class="list-group-item list-group-item-action text-center gestion-link" style="background-color: #035e9f; color: #ffffff; font-weight: bold; height: 80px; font-size: large;">
                    Gestión Detalle de Ventas
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Estilos CSS -->
<style>
    /* Fondo de la página en tonos blanco y azul */
    body {
        background-color: #f0f8ff;
    }

    /* Efecto hover en los elementos de la lista */
    .gestion-link:hover {
        background-color: #343a40 !important;
        color: #ffffff !important;
        transition: background-color 0.3s ease;
    }
</style>
