<div class="container-fluid d-flex flex-column min-vh-100" style="background-color: #ffffff; padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" style="color: #343a40;">Bienvenido</h1>
            <hr style="border-top: 2px solid #ffffff;">
        </div>
    </div>

    <div class="row flex-grow-1">
        <div class="col-md-12 d-flex align-items-start justify-content-center">
            <div class="list-group w-100" style="height: 100vh; overflow-y: auto;" >
                <a routerLink="/usuarios" class="list-group-item list-group-item-action text-center" style="background-color: #e3f2fd; color: #0d6efd; font-weight: bold;">
                    Gestión de Usuarios
                </a>
                <a routerLink="/productos" class="list-group-item list-group-item-action text-center" style="background-color: #e6fffa; color: #20c997; font-weight: bold;">
                    Gestión de Productos
                </a>
                <a routerLink="/carritos" class="list-group-item list-group-item-action text-center" style="background-color: #fff3cd; color: #ffc107; font-weight: bold;">
                    Gestión de Carritos
                </a>
                <a routerLink="/rol" class="list-group-item list-group-item-action text-center" style="background-color: #fde2e4; color: #f03e3e; font-weight: bold;">
                    Gestión Roles
                </a>
                <a routerLink="/ventas" class="list-group-item list-group-item-action text-center" style="background-color: #d1ecf1; color: #17a2b8; font-weight: bold;">
                    Gestión Ventas
                </a>
                <a routerLink="/detalleVenta" class="list-group-item list-group-item-action text-center" style="background-color: #f5e6ca; color: #e0a800; font-weight: bold;">
                    Gestión Detalle de Ventas
                </a>
            </div>
        </div>

       
    </div>
</div>
