<div class="container">
  <a class="btn btn-primary" routerLink="/carritos/agregar">Agregar Carrito</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3">ID Carrito</th>
      <th class="col-sm-3">Usuario</th>
      <th class="col-sm-3">Editar</th>
      <th class="col-sm-3">Borrar</th>
    </tr>
  </thead>
  <tbody>
    
    @for(carrito of carritos; track carrito.id_carrito){
      <tr>
      <td class="col-sm-3">{{ carrito.id_carrito }}</td>
      <td class="col-sm-3">{{ carrito.nombre_usuario }}</td>
      <fieldset class="form-group">
        <a
          class="btn btn-primary"
          routerLink="/carritos/editar/{{carrito.id_usuario}}"
          >Editar</a
        >
      </fieldset>
   
    <td>
    <fieldset class="form-group">
      <a
        class="btn btn-danger"
        (click)="borrarCarrito(carrito.id_usuario)"
        >Borrar</a
      >
    </fieldset>
  </td>
  

  }
</tbody>
</table>